@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primario: #000000ee;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #9cec50;
    --cor-quarta: #9cec50;
    --cor-hover: #0A5EB0;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-primaria: "Montserrat", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primario);
    color: var(--cor-secundaria);
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    padding: 2% 0%;
}

.apresentacao__prm {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    padding: 0% 0% 1% 0%;
}
.titulo-prm {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 50px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    padding: 2% 0%;
}
.apresentacao__links {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
/* .apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
} */
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 15%;
    text-align: center;
    border-radius: 50px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}
.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}
.apresentacao__imagem {
    width: 40%;
}
.rodape {
    padding: 15px;
    color: var(--cor-primario);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao__imagem {
        width: 60%;
    }
    .apresentacao__links {
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 10% 5%;
    }
    .apresentacao__conteudo {
        width: 90%;
    }
    .apresentacao__conteudo__titulo {
        font-size: 2.25rem;
        font-family: var(--fonte-principal);
        padding: 5% 0%;
    }
    .apresentacao__prm {
        font-size: 1.5rem;
        font-family: var(--fonte-principal);
        padding: 0% 0% 2% 0%;
    }
    .apresentacao__conteudo__texto {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
        padding: 3% 5% 16% 0%;
    }
    .rodape {
        padding: 10px;
        color: var(--cor-primario);
        background-color: var(--cor-terciaria);
        text-align: center;
        font-family: var(--fonte-primaria);
        font-size: 1.2rem;
        font-weight: 400;
    }
}
